# Python
__pycache__/
*.py[cod]

# IDEs and editors
.vscode/

# Distribution / packaging
build/
dist/
*.egg-info/

# Misc
.DS_Store


# Python virtual environment
venv/
*.pyc
__pycache__/
*.py[cod]
*$py.class
